$primaryColor: #ff7f50;

header {
    background: #fff;
    padding: 0.3rem 2rem;
    box-shadow: 0 0 20px -15px #656565;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo {
    font-weight: 600;
    font-size: 2rem;
    a {
        // letter-spacing: 10px;
        // color: $primaryColor;
        background-image: url('./assets/images/logo2.png');
        text-indent: -9999px;
        width: 170px;
        height: 55px;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.dFlex {
    display: flex;
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.appButton {
    border-radius: 3px;
    background: $primaryColor;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.appButton-bg {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    // font-weight: 600;
}
.appButton-md {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
}
.appButton-sm {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    font-weight: 600;
}

.divider {
    background: #d8d8d8;
    height: 18px;
    width: 1px;
    margin: 0 0 0 1rem;
}
a.appMenuIcon {
    margin: 0 0.5rem 0 1.5rem;
    font-size: 1.4rem;
    color: #9c9c9c;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    border-radius: 50%;
    transition: all linear 0.3s;
    &:hover {
        background: #e4e4e4;
    }
}
.loginWrap {
    a {
        color: #000;
        margin: 0 1rem;
    }
}


.mainLayout {
    padding: 3rem 2rem;
    margin-top: 65px;
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: capitalize;
        position: relative;
        padding: 1rem;
        &:after {
            content: "";
            position: absolute;
            width: 65px;
            height: 2px;
            background: $primaryColor;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.colorSearchInput {
    position: relative;
    input {
        border: 1px solid #969696;
        padding: 0rem 1rem;
        border-radius: 3px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 1rem;
        transition: all 0.30s ease-in-out;
        &:focus {
            outline: none;
            box-shadow: 0 0 5px $primaryColor;
            border: 1px solid $primaryColor;
        }
    }
    span {
        position: absolute;
        right: 10px;
        font-size: 1.1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #969696;
    }
}

.paletteSelect {
    select {
        border: 1px solid #969696;
        padding: 0rem 1rem;
        border-radius: 3px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 1rem;
        color: #969696;
        &:focus {
            outline: none;
        }
        option {
            padding: 1rem;
        }
    }
}
.mb-xs {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}

body {
    .iconLink {
        width: 35px;
        height: 35px;
        font-size: 1rem;
        color: #909090;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        transition: all linear 0.3s;
        &:hover {
            background: #efefef;
        }
        &.active {
            color: $primaryColor;
        }
    }
}



.paletteWrp {
    padding: 1rem;
    transition: all linear 0.3s;
    background: #f9f9f9;
    .createdBy {
        i {
            margin-right: 4px;
        }
        color: #000;
        font-style: italic;
        font-size: 0.8rem;
    }
    .userAvatarWrp {
        span {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ddd;
            font-size: 1.8rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #8c8c8c;
            margin-right: 0.5rem;
        }
        h3 {
            font-weight: 500;
            font-size: 1.1rem;
            color: #000;
        }
    }

    

    .paletteList {
        display: flex;
        flex-direction: column;
        li {
            height: 60px;
            cursor: pointer;
            transition: all linear 0.3s;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                border-radius: 6px 6px 0 0px;
            }
            &:last-child {
                border-radius: 0px 0px 6px 6px;
            }
            .colorCopy {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.1rem;
                position: absolute;
                color: #fff;
            }
            .colorToolTip {
                position: absolute;
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                padding: 3px 12px;
                border-radius: 2px;
                left: -40px;
                transform: translate(0, -50%);
                top: 50%;
                opacity: 0;
                transition: all linear 0.15s;
            }
            &:hover .colorToolTip {
                left: 15px;
                opacity: 1;
            }
        }
    }

    .paletteAction {
        a {
            color: #5f5f5f;
            font-size: 1.5rem;
            width: 35px;
            height: 35px;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: all linear 0.3s;
            &:hover {
                background: #efefef;
            }
        }

        .likePalette {
            font-weight: 600;
            color: #5f5f5f;
            a {
                margin-right: 0.2rem;
            }
        }
    }
}

.drawerGrid {
    padding: 0;
}
.paletteDrawerHeader {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        
    }
}
.paletteTabWrp, .paletteTabContWrp {
    padding: 0.8rem;
}
.drawerPaletteTab {
    li {
        flex-grow: 1;
        height: 50px;
        cursor: pointer;
        position: relative;
        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
            border-radius: 0px 4px 4px 0px;
        }
        span {
            background: rgba(0,0,0,0.3);
            width: 25px;
            height: 25px;
            color: #fff;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            font-size: 0.8rem;
            opacity: 0;
            transition: all linear 0.3s;
        }
        &:hover span,&.active span {
            opacity: 1;
        }
    }
}

.paletteDrawerWrp {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.colorCodeLists {
    li {
        border-bottom: 1px solid #d8d8d8;
        // background: whitesmoke;
        padding: 0.9rem 0.5rem;
        .code_rt {
            text-align: right;
        }
        .colorCode {
            h4 {
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #676767;
                font-size: 0.9rem;
            }
            h3 {
                color: #000;
                font-size: 0.9rem;
                a {
                    margin-left: 0.4rem;
                    font-size: 0.8rem;
                    color: #777;
                }
            }
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
.paletteNav {
    padding: 0.5rem 1rem;
    background: #e4e4e4;
    margin-top: auto;
    a {
        margin: 0 0.2rem;
    }
}


.creatPaletteWrp {
    padding: 0.5rem;
    border-radius: 5px;
    background: #f7f7f7;
    // box-shadow: 0px 0px 3px 0px #d2d2d2;
    .creatPaletteList {
        flex-direction: column;
        height: calc(100vh - (65px + 6rem ));
        li {
            width: 100%;
            flex-grow: 1;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            .colorMarker {
                position: absolute;
                width: 40px;
                height: 40px;
                background: rgba(0,0,0,0.4);
                color: #f8f8f8;
                border-radius: 50%;
                left: -40px;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all linear 0.1s;
                padding: 0.2rem;
                i {
                    font-size: 0.9rem;
                }
            }
            &:first-child {
                border-radius: 5px 5px 0px 0px;
            }
            &:last-child {
                border-radius: 0px 0px 5px 5px;
            }
            &:hover .colorMarker, &.selected .colorMarker {
                left: -20px;
            }
            
        }
    }
    
}

.chooserTab {
    border-bottom: 2px solid #f5f0f0;
    
    li {
        a {
            font-weight: 700;
            color: #737373;
            text-transform: uppercase;
            font-size: 0.9rem;
            padding:0 1rem 0.6rem 1rem;
            position: relative;
            display: block;
            transition: all linear 0.2s;
            &:hover, &.active {
                color: $primaryColor;
            }
            &:hover:after,&.active:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 2px;
                width: 100%;
                background: $primaryColor;
            }
        }
        &:first-child {
            margin: 0;
        }
    }
}

.chooserContent {
    padding: 2rem;
}
// .webColorsList {
//     flex-wrap: wrap;
//     justify-content: center;
//     max-height: 400px;
//     overflow-y: scroll;
//     li {
//         margin: 0 0.5rem 1rem;
//         background: #efefef;
//         border: 1px solid #ddd;
//         padding: 0.5rem;
//         border-radius: 3px;
//         .bgColor {
//             width: 180px;
//             height: 70px;
//             cursor: pointer;
//             position: relative;
//             overflow: hidden;
//             transition: all linear 0.3s;
//             span {
//                 position: absolute;
//                 background: rgba(0, 0, 0, 0.8);
//                 padding: 0.2rem 0.5rem;
//                 color: #fff2f2;
//                 bottom: 10px;
//                 right: -80px;
//                 text-transform: uppercase;
//                 border-radius: 2px;
//                 font-size: 0.8rem;
//                 font-weight: 600;
//                 transition: all linear 0.2s;
//             }
//             &:hover span {
//                 right: 10px;
//             }
//         }
//         .bgInfo {
//             padding: 0.7rem 1rem 0.2rem;
//             text-transform: capitalize;
//             font-weight: 600;
//             color: #505050;
//             h4 {
//                 font-size: 0.9rem;
//             }
//             a {
//                 color: #505050
//             }
//         }
//     }
// }

.webColorsList {
    flex-wrap: wrap;
    // justify-content: center;
    padding: 0.5rem;
    li {
        margin: 0 0.2rem 0.2rem;
        div {
            border: 1px solid #f7f7f7;
            width: 25px;
            height: 25px;
            cursor: pointer;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all linear 0.2s;
            &:hover,&.active {
                transform: scale(1.3);
                border-color: #dad0d0;
            }
            &.active {
                span {
                    width: 5px;
                    height: 5px;
                    background: rgba(0, 0, 0, 0.7);
                    border-radius: 50%;
                }
            }
        
        }
    }
}
.colorInfoDesc {
    padding: 0.8rem 0.5rem;
    min-height: 50px;
    background: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 1rem;
    justify-content: center;
    width: 100%;
    li {
        h3 {    
            color: #929292;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }
        h4 {
            color: #292828;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}

.matColorWrp {
    flex-direction: column;
    width: 100%;
}
.materialColor {
    padding: 1rem 0.5rem;
    width: 100%;
    overflow-y: scroll;
    max-height: 350px;
    .materialColorList {
        width: 100%;
        li {
            margin-bottom: 0.5rem;
            h3 {
                width: 100px;
                font-weight: 700;
                text-transform: uppercase;
                color: #737373;
                font-size: 0.9rem;
            }
            .colorBoxWrp {
                flex-grow: 1;
                display: flex;
                .colorBox {
                    flex-grow: 1;
                    height: 50px;
                    cursor: pointer;
                    transition: all linear 0.2s;
                    &:hover,&.active {
                        transform: scale(1.2);
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

.tintShaderWrp {
    width: 100%;
    .tintShaderList {
        li {
            .tintShaderBox {
                flex-grow: 1;
                height: 300px;
                cursor: pointer;
                transition: all linear 0.2s;
                &:hover,&.active {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.similiarColors {
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        color: #727272;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    ul {
        flex-wrap: wrap;
        li {
            width: 60px;
            height: 60px;
            margin: 0.2rem;
            border-radius: 50%;
            cursor: pointer;
            transition: all linear 0.2s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}